@use '../../styles/variables.scss';

.gameover {
  position: absolute;
  top: 15%;
  justify-self: center;
  padding: 1rem;
  background-color: variables.$container-border-color;
  display: grid;
  gap: 2rem;
  justify-items: center;
}
