@use './variables.scss';

@mixin game-container {
  width: 50%;
  background-color: variables.$container-background-color;
  font-family: 'Tilt Neon', cursive;
  text-align: center;
  display: grid;
  border: 3px solid variables.$container-border-color;

  h1 {
    font-family: 'Tilt Warp', cursive;
    font-size: 5rem;
  }

  @include tablet-landscape {
    width: 100%;
  }
}

@mixin button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: variables.$container-background-color;
  border-style: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;

  &:hover {
    background-color: variables.$accent-color;
  }
}

// MEDIA QUERIES
@mixin tablet-landscape {
  @media (max-width: 64em) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 28.125em) {
    @content;
  }
}
