$app-background-color: #4c4b16;
$container-background-color: #f7f1e5;
$container-border-color: #898121;
$button-hover-color: #e7b10a;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}
