@use './global-styles.scss' as global;

@mixin game-container {
  width: 40%;
  background-color: global.$container-background-color;
  font-family: 'Tilt Neon', cursive;
  text-align: center;
  display: grid;
  border: 3px solid global.$container-border-color;

  h1 {
    font-family: 'Tilt Warp', cursive;
    font-size: 5rem;
  }

  @include tablet-landscape {
    width: 100%;
  }
}

@mixin button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: inherit;
  border-style: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;

  &:hover {
    background-color: global.$button-hover-color;
  }
}

// MEDIA QUERIES
@mixin tablet-landscape {
  @media (max-width: 64em) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 28.125em) {
    @content;
  }
}
