@use '../../styles/mixins.scss';

.game-container {
  @include mixins.game-container;
  grid-template-rows: 10% 90%;
  position: relative;
}

.game-active,
.game-over {
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.game-over {
  opacity: 50%;
}
