@use '../../styles/variables.scss';

.table {
  background-color: variables.$container-background-color;

  caption {
    background-color: white;
    font-size: 3rem;
    text-transform: uppercase;
  }

  tbody {
    display: block;
    height: 15rem;
    overflow-y: scroll;
    font-size: 2rem;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  td {
    padding: 0 3rem;
  }

  .row:nth-child(odd) {
    background-color: white;
  }

  ::-webkit-scrollbar {
    width: 0.25rem;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
