@use '../../styles/variables.scss';

.scoreboard {
  width: 100%;
  background-color: variables.$primary-color;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.targets {
  display: flex;
  gap: 1rem;

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
}

.found {
  filter: brightness(50%);
  opacity: 50%;
}
