@use '../../styles/variables.scss';

.snackbar {
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: variables.$app-font;
  font-size: 2rem;
  padding: 1rem 3rem;
  animation: 200ms ease-out forwards slide-down;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
