:root {
  --app-background-color: rgb(0, 0, 0);
  --container-background-color: rgb(255, 255, 255);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

.App {
  background-color: var(--app-background-color);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
}

.App-container {
  height: 100%;
  width: 40%;
  background-color: var(--container-background-color);
}
